/* ==========================================================================
   Audio Hack Day
   ========================================================================== */

/* Layout
   ========================================================================== */

.l-container {
  width: 600px;
  margin: 0 auto;
}

.l-grid {
  float: left;
  margin: 10px 20px 0 0;
}

.l-grid-half {
  width: 290px;
}

.l-grid-half:last-child {
  margin-right: 0;
}

.l-grid-full {
  width: 100%;
}

/* Defaults
   ========================================================================== */

h1 {
  margin-bottom: 0;
  font-size: 54px;
  line-height: 1.1em;
}

h1 .sc-type-light {
  font-size: 0.5em;
  line-height: 1.1em;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.1em;
}

h3 {
  margin: 0 0 18px 0;
  font-size: 18px;
}

.sc-type-large {
  font-size: 14px;
  font-weight: 100;
}

p:last-child {
  margin-bottom: 0;
}

label {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 100;
}

input, textarea, select {
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  font-weight: 100;
  padding: 5px 10px;
}

input[type=checkbox] {
  display: inline;
  width: auto;
  margin-right: 5px;
}

button.submit,
button.submit:hover {
  background-color: #F76700;
  background-image: -webkit-linear-gradient(top, #F76700, #FA3219);
  background-image:    -moz-linear-gradient(top, #F76700, #FA3219);
  background-image:      -o-linear-gradient(top, #F76700, #FA3219);
  background-image:     -ms-linear-gradient(top, #F76700, #FA3219);
  border-color: #C53421 #C53421 #C53421 #C53421;
  color: #fff;
  font-size: 14px;
  height: 44px;
  text-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 0px;
  padding: 13px 23px;
}

/* Page Elements
   ========================================================================== */

.header {
  background: url('../img/background.png') no-repeat center top;
  height: 410px;
  margin-top: 40px;
}
.header__inner {
  padding: 15px 0 0 120px;
}
.footer {
  margin-bottom: 40px;
}
.section {
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
  clear: both;
}
.section:first-child {
  margin-top: 0;
}

/* Helpers
   ========================================================================== */

.img-left {
  float: left;
  margin-right: 20px;
}
.img-right {
  float: right;
  margin-left: 20px;
}
